<div class="row">
    <div class="col-md-4">
              <a class="card clickable">
                  <div class="card-block">
                      <h1>10</h1>
                      <p class="card-text">
                          Submissions
                      </p>
                  </div>
              </a>
          </div>
          <div class="col-md-4">
              <a class="card clickable">
                  <div class="card-block">
                      <h1>200</h1>
                      <p class="card-text">
                           Jobs
                      </p>
                  </div>
              </a>
          </div>
          <div class="col-md-4"></div>
</div>          